[ req ]
default_bits       = 2048
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[ req_distinguished_name ]
C  = IN
ST = Tamil Nadu
L  = Chennai
O  = balamt.dev
OU = IT
CN = nozama
emailAddress = mail@balamurugan.co.in

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
DNS.2 = *docker-*
DNS.3 = host.docker.internal
DNS.4 = *local
DNS.5 = *docker*
IP.1  = 127.0.0.1